#include "base.config"
#include "rk2818_arm.config"
#include "audio.config"
#include "debug.config"
BR2_TARGET_GENERIC_HOSTNAME="rk2818"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK2818 Buildroot"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_PACKAGE_MINIGUI=y
BR2_PACKAGE_PARTINIT=y
BR2_PACKAGE_MINIGUI_GAME=y
BR2_PACKAGE_INPUT_EVENT_DAEMON=y
BR2_PACKAGE_USBMOUNT=y
BR2_PACKAGE_ANDROID_TOOLS=y
BR2_PACKAGE_RETROARCH=y
BR2_PACKAGE_LIBRETRO_QUICKNES=y
