#include "base.config"
#include "rk3128_arm.config"
#include "base_extra.config"
#include "gpu.config"
#include "test.config"
BR2_TARGET_GENERIC_HOSTNAME="BRK01"
BR2_TARGET_GENERIC_ISSUE="Welcome to BRK01 Buildroot"
BR2_PACKAGE_MPP=y
BR2_PACKAGE_MPP_ALLOCATOR_DRM=y
BR2_PACKAGE_IO=y
BR2_PACKAGE_ALSA_CONFIG=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSACONF=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_PLUGINS=y
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_SWSCALE=y
#BR2_PACKAGE_HYPERKIN_LOADING=y
BR2_PACKAGE_KEVIN_TEST=y
BR2_PACKAGE_FBV=y
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGLES=y
BR2_PACKAGE_SDL2_GFX=y
BR2_PACKAGE_SDL2_IMAGE=y
BR2_PACKAGE_SDL2_MIXER=y
BR2_PACKAGE_SDL2_TTF=y
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
#BR2_PACKAGE_RETROARCH=y
BR2_PACKAGE_LIBRETRO_MGBA=y
BR2_PACKAGE_LIBRETRO_VBAM=y
BR2_PACKAGE_EVEMU=y
