#include "rk3399pro_npu_arm64.config"
#include "base.config"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_PACKAGE_PROCRANK_LINUX=y
BR2_PACKAGE_IO=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_POWERMANAGER=y
