// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;

#include "rk3128.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Rockchip RK3128 Retro Evaluation Board";
	compatible = "rockchip,rk3128-retro", "rockchip,rk3128";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0x20064000 console=ttyFIQ0 loglevel=7 root=PARTUUID=614e0000-0000-4b53-8000-1d28000054a9 rw rootwait";
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		poll-interval = <100>;
		keyup-threshold-microvolt = <1800000>;

		reserved-key {
			linux,code = <KEY_RESERVED>;
			label = "reserved";
			press-threshold-microvolt = <1549000>;
		};

		home-key {
			linux,code = <KEY_HOME>;
			label = "home";
			press-threshold-microvolt = <1314000>;
		};

		esc-key {
			linux,code = <KEY_ESC>;
			label = "esc";
			press-threshold-microvolt = <985000>;
		};

		menu-key {
			linux,code = <KEY_MENU>;
			label = "menu";
			press-threshold-microvolt = <623000>;
		};

		vol-down-key {
			linux,code = <KEY_VOLUMEDOWN>;
			label = "volume down";
			press-threshold-microvolt = <300000>;
		};

		vol-up-key {
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <18000>;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";

		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
		17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37
		38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58
		59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79
		80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
		101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116
		117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132
		133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148
		149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164
		165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
		181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196
		197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212
		213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228
		229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244
		245 246 247 248 249 250 251 252 253 254 255>;

		default-brightness-level = <128>;
		pwms = <&pwm0 0 25000 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&bl_en>;
		enable-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;

		status = "okay";
	};

	fiq-debugger {
		compatible = "rockchip,fiq-debugger";

		pinctrl-names = "default";
		pinctrl-0 = <&uart1_xfer>;

		rockchip,serial-id = <1>;
		rockchip,wake-irq = <0>;
		/* If enable uart uses irq instead of fiq */
		rockchip,irq-mode-enable = <0>;
		rockchip,baudrate = <115200>;  /* Only 115200 and 1500000 */
		/* Choose a reserved/no-in-use irq */
		interrupts = <GIC_SPI 127 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";
	};

	sound-rk312x {
		compatible = "simple-audio-card";
		status = "okay";

		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,rk312x-codec";
		simple-audio-card,cpu {
			sound-dai = <&i2s_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

	usb_control {
		compatible = "rockchip,rk3126-usb-control";

		host_drv_gpio = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
		rockchip,remote_wakeup;
		rockchip,usb_irq_wakeup;
	};

	vcc50_boost: vcc50-boost {
		compatible = "regulator-fixed";
		gpio = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc50_boost";
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_lcd: vcc-lcd {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_en>;

		gpio = <&gpio1 12 GPIO_ACTIVE_LOW>;

		regulator-name = "vcc_lcd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_io>;
	};

	vcc_io: vcc-io {
		compatible = "regulator-fixed";
		pinctrl-names = "default";

		regulator-name = "vcc_io";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&vcc_sys>;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_sd: vcc-sd {
		compatible = "regulator-fixed";
		gpio = <&gpio1 14 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc_pwr>;
		regulator-name = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_io>;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 0>;
		regulator-name = "vdd_arm";
		/* TODO: From schematic, volt is [0.9, 1.4], but with those
		 * Vmin Vmax, we get ~15mv lower than expected.
		 * Hack the Vmin Vmax so we get a slight higher volt.
		 */
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <1380000>;
		regulator-init-microvolt = <1100000>;
		regulator-early-min-microvolt = <1100000>;
		regulator-always-on;
		regulator-boot-on;

		pwm-supply = <&vcc_sys>;
		pwm-dutycycle-range = <100 0>;
		pwm-dutycycle-unit = <100>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 0>;
		regulator-name = "vdd_log";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <1400000>;
		regulator-init-microvolt = <1100000>;
		regulator-early-min-microvolt = <1100000>;
		regulator-always-on;
		regulator-boot-on;

		pwm-supply = <&vcc_sys>;
		pwm-dutycycle-range = <100 0>;
		pwm-dutycycle-unit = <100>;
	};


	lvds-panel {
		compatible = "simple-panel";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_reset>;

		bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;
		power-supply = <&vcc_lcd>;
		backlight = <&backlight>;
		width-mm = <154>;
		height-mm = <86>;

		reset-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
		reset-delay-ms = <60>;
		enable-delay-ms = <100>;
		prepare-delay-ms = <100>;

		rockchip,data-width = <18>;
		rockchip,data-mapping = "jeida";
		rockchip,output = "rgb";
		status = "okay";

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				hback-porch = <160>;
				hfront-porch = <160>;
				hsync-len = <10>;
				vactive = <600>;
				vback-porch = <23>;
				vfront-porch = <12>;
				vsync-len = <10>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		port {
			panel_in_lvds: endpoint {
				remote-endpoint = <&lvds_out_panel>;
			};
		};
	};
};

&codec {
	#sound-dai-cells = <0>;
	hp-ctl-gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;
	spk-ctl-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
	spk-mute-delay = <200>;
	hp-mute-delay = <100>;
	spk_volume = <25>;
	hp_volume = <25>;
	capture_volume = <26>;
	gpio_debug = <1>;
	codec_hp_det = <1>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&dfi {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_log>;
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&lvds {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&lcdc_lcdc>;

	ports {
		port@1 {
			reg = <1>;

			lvds_out_panel: endpoint {
				remote-endpoint = <&panel_in_lvds>;
			};
		};
	};
};

&gpu {
	status = "okay";
	mali-supply = <&vdd_log>;
};

&hevc {
	status = "okay";
};

&hevc_mmu {
	status = "okay";
};

&i2c2 {
	status = "okay";
	clock-frequency = <400000>;

	/* Touch panel */
};

&i2s_8ch {
	#sound-dai-cells = <0>;
	status = "okay";
};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_io>;
};

&sdmmc {
	bus-width = <4>;
	clock-frequency = <37500000>;
	clock-freq-min-max = <400000 37500000>;
	supports-highspeed;
	supports-sd;
	broken-cd;
	card-detect-delay = <200>;
	ignore-pm-notify;
	keep-power-in-suspend;
	vmmc-supply = <&vcc_sd>;
	cd-gpios = <&gpio1 RK_PC1 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&sfc {
	status = "okay";
};

&u2phy {
	status = "okay";

	u2phy_otg: otg-port {
		status = "okay";
	};

	u2phy_host: host-port {
		status = "okay";
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	/* disable uart1 explicitly since fiq-debugger is on uart1 */
	status = "disabled";
};

&usb_otg {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vpu {
	status = "okay";
};

&vpu_combo {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&pinctrl {
	backlight {
		bl_en: bl-en {
			rockchip,pins = <0 30 RK_FUNC_GPIO &pcfg_pull_default>;
		};
	};

	lcdc {
		lcd_en: lcd-en {
			rockchip,pins = <1 12 RK_FUNC_GPIO &pcfg_pull_default>;
		};

		lcd_reset: lcd-reset {
			rockchip,pins = <0 24 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lcdc_lcdc: lcdc-lcdc {
			rockchip,pins =
				/* depend on the hardware */
				<2 RK_PB0 1 &pcfg_pull_none>, /* DCLK */
				<2 RK_PB1 1 &pcfg_pull_none>, /* HSYNC */
				<2 RK_PB2 1 &pcfg_pull_none>, /* VSYNC */
				<2 RK_PB3 1 &pcfg_pull_none>, /* DEN */
				<2 RK_PB4 1 &pcfg_pull_none>, /* DATA10 */
				<2 RK_PB5 1 &pcfg_pull_none>, /* DATA11 */
				<2 RK_PB6 1 &pcfg_pull_none>, /* DATA12 */
				<2 RK_PB7 1 &pcfg_pull_none>, /* DATA13 */
				<2 RK_PC0 1 &pcfg_pull_none>, /* DATA14 */
				<2 RK_PC1 1 &pcfg_pull_none>, /* DATA15 */
				<2 RK_PC2 1 &pcfg_pull_none>, /* DATA16 */
				<2 RK_PC3 1 &pcfg_pull_none>; /* DATA17 */
				/* <2 RK_PC4 1 &pcfg_pull_none>, /* DATA18 */
				/* <2 RK_PC5 1 &pcfg_pull_none>, /* DATA19 */
				/* <2 RK_PC6 1 &pcfg_pull_none>, /* DATA20 */
				/* <2 RK_PC7 1 &pcfg_pull_none>, /* DATA21 */
				/* <2 RK_PD0 1 &pcfg_pull_none>, /* DATA22 */
				/* <2 RK_PD1 1 &pcfg_pull_none>; /* DATA23 */
		};
	};

	sdmmc {
		sdmmc_pwr: sdmmc-pwr {
			rockchip,pins = <1 14 RK_FUNC_GPIO &pcfg_pull_default>;
		};
	};
};
